workflows/Add data from a photo to Google Sheets.json
{
  "active": false,
  "connections": {
    "Send confirmation": {
      "main": [
        [
          {
            "node": "Send SMS notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set relevant data": {
      "main": [
        [
          {
            "node": "Add to expense record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to expense record": {
      "main": [
        [
          {
            "node": "Send confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get receipts from bot": {
      "main": [
        [
          {
            "node": "Parse details from receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse details from receipt": {
      "main": [
        [
          {
            "node": "Set relevant data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-05T21:23:04.650Z",
  "id": "Y5CIcqLRGdRtNbVS",
  "meta": {
    "templateId": "684"
  },
  "name": "Add data from a photo to Google Sheets",
  "nodes": [
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Category",
              "value": "={{$node[\"Parse details from receipt\"].json[\"predictions\"][0][\"category\"][\"value\"]}}"
            },
            {
              "name": "Date",
              "value": "={{$node[\"Parse details from receipt\"].json[\"predictions\"][0][\"date\"][\"iso\"]}}"
            },
            {
              "name": "Merchant",
              "value": "={{$node[\"Parse details from receipt\"].json[\"predictions\"][0][\"merchant\"][\"name\"]}}"
            },
            {
              "name": "Time",
              "value": "={{$node[\"Parse details from receipt\"].json[\"predictions\"][0][\"time\"][\"iso\"]}}"
            },
            {
              "name": "Amount",
              "value": "={{$node[\"Parse details from receipt\"].json[\"predictions\"][0][\"total\"][\"amount\"]}}"
            },
            {
              "name": "Currency",
              "value": "={{$node[\"Parse details from receipt\"].json[\"predictions\"][0][\"locale\"][\"currency\"]}}"
            },
            {
              "name": "Added by",
              "value": "={{$node[\"Get receipts from bot\"].json[\"message\"][\"chat\"][\"first_name\"]}} {{$node[\"Get receipts from bot\"].json[\"message\"][\"chat\"][\"last_name\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set relevant data",
      "type": "n8n-nodes-base.set",
      "position": [
        780,
        240
      ],
      "typeVersion": 1,
      "id": "44020922-6d54-4d5d-bd6e-378b357b3631"
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Get receipts from bot\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "=✅ Bill of {{$node[\"Set relevant data\"].json[\"Amount\"]}} {{$node[\"Set relevant data\"].json[\"Currency\"]}} from {{$node[\"Set relevant data\"].json[\"Merchant\"]}}, dated {{$node[\"Set relevant data\"].json[\"Date\"]}} at {{$node[\"Set relevant data\"].json[\"Time\"]}}. Category was {{$node[\"Set relevant data\"].json[\"Category\"]}}.",
        "additionalFields": {}
      },
      "name": "Send confirmation",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1180,
        240
      ],
      "typeVersion": 1,
      "id": "e7d6e2a1-2703-45cf-a91d-8f49aa6a44b9"
    },
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "name": "Get receipts from bot",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        380,
        240
      ],
      "webhookId": "ef81fe75-10c8-40c3-8bea-d65648556705",
      "typeVersion": 1,
      "id": "fec8a91e-506d-4fb7-9669-9506b0fed386"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.mindee.net/products/expense_receipts/v2/predict",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "sendBinaryData": true
      },
      "name": "Parse details from receipt",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        580,
        240
      ],
      "typeVersion": 1,
      "id": "5b2f0892-a3fd-4d97-a247-53b9e75b1276"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "range": "A:G",
        "options": {}
      },
      "name": "Add to expense record",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        980,
        240
      ],
      "typeVersion": 1,
      "id": "9223ee72-b0b9-4791-9030-b887927e3f70"
    },
    {
      "parameters": {
        "message": "=A receipt worth {{$node[\"Set relevant data\"].json[\"Amount\"]}} {{$node[\"Set relevant data\"].json[\"Currency\"]}} was submitted by {{$node[\"Set relevant data\"].json[\"Added by\"]}} and has been added to the following spreadsheet:\nhttps://docs.google.com/spreadsheets/d/{{$node[\"Add to expense record\"].parameter[\"sheetId\"]}}/",
        "options": {}
      },
      "name": "Send SMS notification",
      "type": "n8n-nodes-base.twilio",
      "position": [
        1380,
        240
      ],
      "typeVersion": 1,
      "id": "e1d577a0-af69-4d7c-a1b8-86c40282670c"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-09-05T21:23:04.650Z",
  "versionId": "45c1242a-e641-47f4-b464-ec13be613e9c"
}