workflows/Send bulk messages to chats in Telegram.json
{
  "active": false,
  "connections": {
    "Wait1": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-05T21:22:35.318Z",
  "id": "iaYJ0OdMHtYisAEm",
  "meta": {
    "templateId": "772"
  },
  "name": "Send bulk messages to chats in Telegram",
  "nodes": [
    {
      "parameters": {},
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        380,
        240
      ],
      "typeVersion": 1,
      "id": "e888f84a-7a0d-45f1-8362-2a066690d607"
    },
    {
      "parameters": {
        "chatId": "={{$node[\"SplitInBatches\"].json[\"Chat ID\"]}}",
        "text": "Hello",
        "additionalFields": {}
      },
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        940,
        240
      ],
      "typeVersion": 1,
      "id": "4c731381-16a0-4c8c-bb48-29f99859538f"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "range": "A:A",
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        560,
        240
      ],
      "typeVersion": 1,
      "id": "9cd53bc1-6c50-4b24-a223-533ce8ca7375"
    },
    {
      "parameters": {
        "batchSize": 30,
        "options": {}
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        760,
        240
      ],
      "typeVersion": 1,
      "id": "7b467baf-8b07-44e3-ad22-a42a679526fe"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "position": [
        1100,
        20
      ],
      "webhookId": "22fca54c-eac4-44bc-adf7-68b33818695c",
      "typeVersion": 1,
      "id": "4d86130e-9b54-408e-9c80-92960aa9fa7e"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-09-05T21:22:35.318Z",
  "versionId": "70258912-f641-4f11-b75d-f11851ef5757"
}