workflows/Testing Modules.json
{
  "active": false,
  "connections": {
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Notion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion1": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Perplexity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity": {
      "main": [
        [
          {
            "node": "Notion2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity1": {
      "main": [
        [
          {
            "node": "Notion3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion3": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        []
      ]
    },
    "Google Sheets Trigger1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Perplexity1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-29T23:04:03.482Z",
  "id": "p8zeDaXmOK9xVDdv",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Testing Modules",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "b3e3fc71-9ae6-4a9d-b520-dab6f1073786",
      "name": "Notion Trigger",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        320,
        500
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "714f6f82-f584-4ff5-a814-68aa8e4a2d40",
      "name": "Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        540,
        500
      ]
    },
    {
      "parameters": {},
      "id": "201a3ac9-013f-496c-b651-bfe2ef479e2c",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        760,
        500
      ]
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_3",
              "richText": true
            }
          ]
        }
      },
      "id": "d2a7813b-e028-476e-bce2-9d85513e0eaf",
      "name": "Notion1",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        980,
        500
      ]
    },
    {
      "parameters": {
        "messageType": "block",
        "text": "message text",
        "otherOptions": {
          "includeLinkToWorkflow": true,
          "unfurl_media": true,
          "sendAsUser": ""
        }
      },
      "id": "475f1f67-4674-4c1d-b5e9-90542798983c",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1200,
        500
      ]
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "contact us",
        "formDescription": "We'll back soon",
        "formFields": {
          "values": [
            {
              "fieldLabel": "whats your answer?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "yes"
                  },
                  {
                    "option": "no"
                  },
                  {
                    "option": "maybe"
                  }
                ]
              }
            },
            {
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "cde5aef8-8473-4ccb-9819-3d3f835f555d",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1420,
        500
      ],
      "webhookId": "613771bf-4c83-4c5b-8ccf-1d8bed1a6869"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "d1258bac-ac2d-4417-ab95-bb5f691361d3",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            }
          ]
        },
        "options": {}
      },
      "id": "87fcc6f4-3028-45ab-990b-2ed154cbd257",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        1640,
        500
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "838af20f-2d0f-4010-b5a4-e10c4fe7cea2",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        1860,
        500
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0a476dd1-df85-4704-ac23-d69ff6487a21",
      "name": "AWS Bedrock Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1,
      "position": [
        660,
        240
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ab9PwJhJXEw2g1FH",
          "mode": "list",
          "cachedResultName": "Advanced AI Demo (Presented at AI Developers #14 meetup)"
        },
        "options": {}
      },
      "id": "8e4e6bd6-9353-475d-beab-5b32233233bb",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1440,
        -80
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "sendTo": "notion.is.templates@gmail.com",
        "subject": "hello world",
        "emailType": "text",
        "message": "holiwiw",
        "options": {}
      },
      "id": "9e4b41cd-5127-421f-8ab3-eaee731f6c35",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        460,
        -180
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "n8mNA0r5JPxxlT0l",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## NO FUNCIONA",
        "height": 299.5283018867924
      },
      "id": "7c7dbd56-56cf-4a69-9577-04af5ceca1dd",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        340,
        -260
      ]
    },
    {
      "parameters": {
        "inputText": "hi, how are you I am Ivy",
        "options": {
          "categories": "Positive, Neutral, Negative",
          "systemPromptTemplate": "You are highly intelligent and accurate sentiment analyzer. Analyze the sentiment of the provided text. Categorize it into one of the following: {categories}. Use the provided formatting instructions. Only output the JSON."
        }
      },
      "id": "f444cb21-1db5-49e3-80b5-46cf28dcab4d",
      "name": "Sentiment Analysis",
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1,
      "position": [
        740,
        20
      ]
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "019e59bc-584d-4157-ae64-fb13ff220555",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1120,
        20
      ],
      "webhookId": "e8ecf9d9-b564-4eac-81ea-85f8dc94928d"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "22c76d77-6347-487e-b39d-aacfd5f059b2",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        300,
        860
      ]
    },
    {
      "parameters": {},
      "id": "a5b8a6a1-2593-4918-b58e-c3f82281028b",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        940,
        360
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e702b324-029d-45a9-965e-136d6318f693",
      "name": "Perplexity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        860
      ]
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "mode": "url",
          "value": ""
        }
      },
      "id": "351bead5-0158-44d5-9276-97d0ceb9b449",
      "name": "Notion2",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        700,
        860
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "id": "160f514f-29b6-4a0d-8466-b5e33f148261",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        860
      ]
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "options": {}
      },
      "id": "216b84ca-9894-420a-8fab-667a25bebeb1",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        500,
        700
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "45deab54-7dbe-4ee4-9761-db75ebe0b737",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        40,
        680
      ]
    },
    {
      "parameters": {},
      "id": "c834157b-2752-48e3-ae1f-74557c692c7d",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -660,
        1060
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6795a2d5-7035-440c-ae4a-bdfe71d13ecc",
      "name": "Perplexity1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -440,
        1060
      ]
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "mode": "url",
          "value": ""
        }
      },
      "id": "4eb02ec5-4fe2-470d-943d-a10e4ef5ec7f",
      "name": "Notion3",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -260,
        1060
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "id": "073934cf-43b2-4c01-858a-11ec875d7749",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        1060
      ]
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "options": {}
      },
      "id": "717a331a-75d9-4b9c-9043-53a3b320a936",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -380,
        780
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "8dc15ed9-696c-444e-ac92-d949ae0f2fb1",
      "name": "Google Sheets Trigger1",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        1060
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-09-10T18:01:11.133Z",
      "updatedAt": "2024-09-10T18:01:11.133Z",
      "id": "FugauSOpdwLAjgA7",
      "name": "Testing Modules"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-09-20T00:21:15.000Z",
  "versionId": "8cbbb817-fa2d-48ae-b673-85396e06e540"
}