workflows/Weekly N8N executions failures report to Telegram.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get all previous executions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate all messages": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all previous executions": {
      "main": [
        [
          {
            "node": "Filter for executions of the week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter for executions of the week": {
      "main": [
        [
          {
            "node": "Set a message for each failed execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set a message for each failed execution": {
      "main": [
        [
          {
            "node": "Aggregate all messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-04T22:54:24.774Z",
  "id": "Suv0hKVCFCTNta1V",
  "meta": {
    "templateId": "2177",
    "templateCredsSetupCompleted": true
  },
  "name": "Weekly N8N executions failures report to Telegram",
  "nodes": [
    {
      "parameters": {
        "chatId": "660686687",
        "text": "={{  $json.message.join(\"\\n\") }}",
        "additionalFields": {}
      },
      "id": "06fee9d0-e11e-44f1-949f-94abb476e493",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1820,
        860
      ],
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "Qeorby7cMPUdyPYT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 7
            }
          ]
        }
      },
      "id": "cd51fa93-700e-4d86-a95b-6e65e7eaf616",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        800,
        860
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "### 👨‍🎤 Setup\nYou will need:\n1. API token to your n8n instance (settings)\n2. Paste the API token in new n8n credentials\n3. Add telegram credentials as well",
        "height": 160.98843357558172,
        "width": 453.88352097764886,
        "color": 5
      },
      "id": "720ca9d2-456f-49a0-85df-d38d1ebdf8e1",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        420,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Weekly failures report\n\nThis workflow will check for past executions of a given workflow and will compile and send you a list of failures which happened in the last 7 days.\n",
        "height": 432.41702029585565,
        "width": 721.389633253837,
        "color": 7
      },
      "id": "c168ca04-cd47-4d68-b719-7c9bb4e98920",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "31745f1d-793a-4674-80ab-77afede449d6",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              },
              "leftValue": "={{ $json.startedAt }}",
              "rightValue": "={{ DateTime.fromMillis(DateTime.now() -  1000 * 60 * 60 * 24 * 7) }}"
            },
            {
              "id": "0f3e54a2-2bed-4769-8443-c2b0b6e762a9",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "leftValue": "={{ $json.finished }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "e06a3f4f-db0c-429b-aeee-c6db84a260c7",
      "name": "Filter for executions of the week",
      "type": "n8n-nodes-base.filter",
      "position": [
        1200,
        858
      ],
      "typeVersion": 2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "### 👆🏽 Set credentials to n8n here and select workflow",
        "height": 80,
        "width": 241
      },
      "id": "93a65d99-f3c7-45c8-acec-8fc30444f363",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1020,
        1078
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "execution",
        "returnAll": true,
        "filters": {
          "workflowId": {
            "__rl": true,
            "mode": "list",
            "value": ""
          }
        },
        "options": {
          "activeWorkflows": false
        },
        "requestOptions": {}
      },
      "id": "768980da-6dcc-4f77-bc36-78ee37b4c5f8",
      "name": "Get all previous executions",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1000,
        858
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "O2H4FFPy3dSf0ZwJ",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f7698326-2df6-4fea-b129-e56b108bdc20",
              "name": "message",
              "type": "string",
              "value": "=⚠️ Workflow `{{ $json.workflowData.name }}` failed to run! [execution]({{ $json.id }}) [date]({{ $json.startedAt }})"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "options": {}
      },
      "id": "a13d93cc-75ae-4d94-a649-3bece3ad5c34",
      "name": "Set a message for each failed execution",
      "type": "n8n-nodes-base.set",
      "position": [
        1400,
        858
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "message"
            }
          ]
        },
        "options": {}
      },
      "id": "0e86db26-099b-421d-b90d-3a51d3c5aae3",
      "name": "Aggregate all messages",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1600,
        858
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 👆🏽 Set credentials to Telegram here as well as chat-id\n\n\nChat-id no es el username del grupo, es el id del usuario. Yo lo saque de userinfobot\n\ny me dio esta info\n@IvySaskia\nId: 660686687\nFirst: Ivy Rocabado\nLang: en",
        "height": 293.4968048873801,
        "width": 241
      },
      "id": "3b794e81-4b9b-460e-820f-d615c816b0fe",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1840,
        1080
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        271
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2024-09-04T22:27:49.387Z",
      "updatedAt": "2024-09-04T22:27:49.387Z",
      "id": "T7a1GOMB2iA67VF7",
      "name": "Working"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-09-04T23:14:04.000Z",
  "versionId": "11b23549-7da0-456e-8f70-c047edd70a12"
}