workflows/WhatsApp Starter Workflow 2.json
{
  "active": false,
  "connections": {
    "Verify": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond": {
      "main": [
        [
          {
            "node": "Is message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is message?": {
      "main": [
        [
          {
            "node": "Echo the message back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-04T21:24:03.113Z",
  "id": "q6fBSskrxVO145xy",
  "meta": {
    "templateId": "2162"
  },
  "name": "WhatsApp Starter Workflow 2",
  "nodes": [
    {
      "parameters": {
        "path": "1fea1f5f-81c0-48ad-ae13-41e0f8e474ed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9b385dfe-fa67-4c2c-83df-e3e02c0ff796",
      "name": "Verify",
      "type": "n8n-nodes-base.webhook",
      "position": [
        420,
        374
      ],
      "webhookId": "793f285b-9da7-4a5e-97ce-f0976c113db5",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "id": "676efc61-c875-4675-a843-20f98ef1a642",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        640,
        374
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "244242975437240",
        "recipientPhoneNumber": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}",
        "textBody": "=Echo back: {{ $json.body.entry[0].changes[0].value.messages[0].text.body }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "8dd6d094-415c-40d7-ad2b-4ed9f2d23232",
      "name": "Echo the message back",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        860,
        734
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "8a765e57-8e39-4547-a99a-0458df2b75f4",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0] }}",
              "rightValue": ""
            }
          ]
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "cd9e2cfd-9589-4390-95fd-f0bc3960d60c",
      "name": "Is message?",
      "type": "n8n-nodes-base.if",
      "position": [
        640,
        734
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Verify Webhook\n* Go to your [Meta for Developers App page](https://developers.facebook.com/apps/), navigate to the App settings\n* Add a **production webhook URL** as a new Callback URL\n* *Verify* webhook receives a GET Request and sends back a verification code\n",
        "height": 272,
        "width": 618
      },
      "id": "20939289-3c4f-467a-b0e9-bf7e6d42cc18",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Main flow\n* *Respond* webhook receives various POST Requests from Meta regarding WhatsApp messages (user messages + status notifications)\n* Check if the incoming JSON contains user message\n* Echo back the text message to the user. This is a custom message, not a WhatsApp Business template message",
        "height": 343,
        "width": 619
      },
      "id": "36ffeb5b-165a-4723-8250-a4feb9123140",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        554
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Important!\n### Configure the webhook nodes this way:\n* Make sure that both *Verify* and *Respond* have the same URL\n* *Verify* should have GET HTTP Method\n* *Respond* should have POST HTTP Method",
        "height": 177,
        "width": 405,
        "color": 3
      },
      "id": "aa234bca-c8db-43c6-9aeb-02aef6a084e5",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -40,
        454
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1fea1f5f-81c0-48ad-ae13-41e0f8e474ed",
        "options": {}
      },
      "id": "2370b81a-0721-42fd-8893-e3ee02e20278",
      "name": "Respond",
      "type": "n8n-nodes-base.webhook",
      "position": [
        420,
        734
      ],
      "webhookId": "c4cbc1c4-e1f5-4ea5-bd9a-c5f697493985",
      "typeVersion": 1.1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-10-04T21:24:03.113Z",
  "versionId": "a5acddda-6c87-4421-9c2b-54fbc92c04a4"
}