workflows/Working with Excel spreadsheet files (xls & xlsx).json
{
  "active": false,
  "connections": {
    "Work out Age": {
      "main": [
        [
          {
            "node": "Write Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "Read Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Excel File": {
      "main": [
        [
          {
            "node": "Read Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Excel File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download from Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download from Microsoft OneDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Spreadsheet File": {
      "main": [
        [
          {
            "node": "Work out Age",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Spreadsheet File": {
      "main": [
        [
          {
            "node": "Upload to SFTP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload to Microsoft OneDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download from Google Drive": {
      "main": [
        [
          {
            "node": "Read Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download from Microsoft OneDrive": {
      "main": [
        [
          {
            "node": "Read Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-26T03:21:51.268Z",
  "id": "ZFHHZ04ozh1wtl8H",
  "meta": {
    "templateId": "1826"
  },
  "name": "Working with Excel spreadsheet files (xls & xlsx)",
  "nodes": [
    {
      "parameters": {
        "content": "## Working with Excel files\n1. Load the spreadsheet file into the workflow (.xls, .xlsx, .csv).\n2. Convert the file with **Spreadsheet File** node. This allows other nodes to access the data.\n3. Transform and manipulate the spreadsheet data as needed\n4. [Optional] Convert back to a spreadsheet file\n5. [Optional] Save file locally or upload to a server\n\n\n\nℹ️ This template shows how to work with spreadsheet files themselves. Use the **Microsoft Excel 365** node to interact with the Microsoft Office 365 cloud platform. ",
        "height": 299.6468819708682,
        "width": 476.4578377639565
      },
      "id": "05bd643c-6dd0-4f36-a586-3a06cc26893c",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 1A. From a public URL",
        "height": 244.71805702217537,
        "width": 261.5285597588645
      },
      "id": "84db705b-b45f-447f-b3e6-ac9650816e3b",
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1020,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filePath": "/files/customer-datastore.xlsx"
      },
      "id": "92b8375b-92a3-41ca-874e-d9c4567e21d4",
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        1100,
        600
      ],
      "notesInFlow": true,
      "typeVersion": 1,
      "disabled": true,
      "notes": "Fetches a local file"
    },
    {
      "parameters": {
        "content": "## 1. Load file into workflow",
        "height": 80,
        "width": 332.13093980992585
      },
      "id": "e595db63-8556-4e5e-89df-9895691ed4bb",
      "name": "Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1020,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 1C. From a cloud platform",
        "height": 475.9602777402797,
        "width": 263.20908130939836
      },
      "id": "66ae38b6-01e6-486b-aae1-d696d22fb2cf",
      "name": "Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1020,
        840
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "c2e2cc7e-01a2-4138-ba6f-344be3dd91f3",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        680,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 4. [Optional] Convert node data back to .xls file",
        "height": 302.0190073917633,
        "width": 326.8935002375224
      },
      "id": "050bdd2e-6fe5-4145-8a0b-c1b4b8870c53",
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2240,
        140
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 3. Manipulate or transform your spreadsheet data \n\n\n\n\n\n",
        "height": 304.93769799366413,
        "width": 359.63512407276517
      },
      "id": "3822a521-c1f4-40a9-bbb6-540a2bb4651b",
      "name": "Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1820,
        140
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "### 4B. To a webserver via (S)FTP",
        "height": 243.48423158332457,
        "width": 253.5004831258875
      },
      "id": "a90ef806-62a7-492d-b493-337d796c677a",
      "name": "Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2640,
        540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fileName": "=/tmp/{{$binary.data.fileName}}",
        "options": {}
      },
      "id": "a5419c12-4be4-4fdf-8b9f-f6c73104477a",
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "position": [
        2700,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2. Convert the file into JSON format\nJSON data can be used by nodes\n\n\n\n\n\n",
        "height": 309.4318901795142,
        "width": 279.5841955487948
      },
      "id": "3d3474ee-298f-48ee-b7b4-2dd64729c747",
      "name": "Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1460,
        140
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 5. Save or upload new file\n### [Optional]",
        "height": 86.72208620213638,
        "width": 332.13093980992585
      },
      "id": "93cd3132-460b-4a67-b627-b417bbd74012",
      "name": "Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2640,
        140
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "### 4A. To a local filesystem",
        "height": 245.22344655940856,
        "width": 253.5004831258875
      },
      "id": "4ca7e58c-2d8f-463f-86f9-f87f47a7364b",
      "name": "Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2640,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 4C. To a cloud service",
        "height": 480.2511652360096,
        "width": 253.5004831258875
      },
      "id": "db8f95b3-db71-4111-b5a4-a53cdfeea896",
      "name": "Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2640,
        840
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "### 1B. From the local filesystem",
        "height": 244.71805702217537,
        "width": 263.20908130939836
      },
      "id": "ae1a1cdf-4670-41da-8bc5-aa6817ce08bc",
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1020,
        540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": "1ffuj8v-s0h8LeEmrA2hBk-b7qKF_c9uT",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ffuj8v-s0h8LeEmrA2hBk-b7qKF_c9uT/edit?usp=drivesdk&ouid=112909978107527312058&rtpof=true&sd=true",
          "cachedResultName": "customer-datastore.xlsx"
        },
        "options": {}
      },
      "id": "529b03fb-b81d-40f3-bade-684cc9776cba",
      "name": "Download from Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1100,
        900
      ],
      "typeVersion": 2,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "549D14658E697C62!2087"
      },
      "id": "b63c9748-0c7d-4d2a-aa5b-db76d31af957",
      "name": "Download from Microsoft OneDrive",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "position": [
        1100,
        1100
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://internal.users.n8n.cloud/webhook/709a234d-add7-41d2-9326-8d981f58120b",
        "options": {}
      },
      "id": "6333d0b5-d58b-4a19-af9a-0e5ea4fa15e8",
      "name": "Download Excel File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1100,
        320
      ],
      "notesInFlow": true,
      "typeVersion": 3,
      "notes": "Fetches file from server"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "age",
              "value": "={{ Math.trunc($today.diff(DateTime.fromFormat($json[\"created\"], 'yyyy-MM-dd'), 'years').toObject().years) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "88b24dbb-dc9f-4f03-a5b3-71ba89295346",
      "name": "Work out Age",
      "type": "n8n-nodes-base.set",
      "position": [
        1940,
        280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "upload",
        "path": "=/home/n8n/{{$binary.data.fileName}}"
      },
      "id": "2f1f2fa9-4995-46c9-a415-3768a0895e88",
      "name": "Upload to SFTP",
      "type": "n8n-nodes-base.ftp",
      "position": [
        2700,
        600
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "binaryData": true,
        "name": "={{$binary.data.fileName}}",
        "options": {}
      },
      "id": "81c06f12-83f1-4973-a1ec-6d58e26eb8c9",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2700,
        900
      ],
      "typeVersion": 2,
      "disabled": true
    },
    {
      "parameters": {
        "fileName": "={{$binary.data.fileName}}",
        "parentId": "root",
        "binaryData": true
      },
      "id": "a0ef4740-8716-4fab-8498-c13ee32842cb",
      "name": "Upload to Microsoft OneDrive",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "position": [
        2700,
        1100
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "01e6575d-bb92-4f32-82b4-acfe7448a364",
      "name": "Read Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        1540,
        280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {
          "fileName": "=customer-datastore_{{$today.toFormat('yyyyMMdd')}}.xlsx"
        }
      },
      "id": "ed09f502-109f-42dc-a62c-6b6f54aad46e",
      "name": "Write Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        2340,
        280
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-09-26T03:21:51.268Z",
  "versionId": "33b2a252-f04a-4d10-8bfe-56e324fcc458"
}