workflows/🚨 Report n8n workflow errors to Telegram.json
{
  "active": false,
  "connections": {
    "On Error": {
      "main": [
        [
          {
            "node": "Set message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set message": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-04T23:17:37.075Z",
  "id": "WC83n6DTof7FZ0yU",
  "meta": {
    "templateId": "2159",
    "templateCredsSetupCompleted": true
  },
  "name": "🚨 Report n8n workflow errors to Telegram",
  "nodes": [
    {
      "parameters": {},
      "id": "aa84d631-c14f-45c2-a659-454605e83c30",
      "name": "On Error",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        460,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "message",
              "value": "=⚠️ Workflow `{{$json[\"workflow\"][\"name\"]}}` failed to run! [execution]({{ $json.execution.url }})"
            }
          ]
        },
        "options": {}
      },
      "id": "abffce17-cc93-4c6a-8955-de2d0f4cc885",
      "name": "Set message",
      "type": "n8n-nodes-base.set",
      "position": [
        720,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 👨‍🎤 Setup\n1. Add Telegram creds\n2. Set chat id in **Telegram** node\n2. Add this error workflow to other workflows\nhttps://docs.n8n.io/flow-logic/error-handling/#create-and-set-an-error-workflow",
        "height": 154.7766688696994,
        "width": 424.4907862645661,
        "color": 5
      },
      "id": "1e5c4af6-30ae-45b8-bca7-048a656ce9bd",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "660686687",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "845ddf26-2d40-4cc6-843b-ccb3b365fbfb",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        940,
        440
      ],
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "Qeorby7cMPUdyPYT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "### 👆🏽 Set chat id here",
        "height": 80,
        "width": 241
      },
      "id": "90db96b8-0e43-4977-b455-3e6813211640",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        620
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-09-04T23:38:47.198Z",
      "updatedAt": "2024-09-04T23:38:47.198Z",
      "id": "PZvVMhdQp5KcbFyY",
      "name": "No Entiendo"
    },
    {
      "createdAt": "2024-09-04T22:27:49.387Z",
      "updatedAt": "2024-09-04T22:27:49.387Z",
      "id": "T7a1GOMB2iA67VF7",
      "name": "Working"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-09-04T23:38:48.000Z",
  "versionId": "9ed0ecca-87e2-427d-8fea-6c95dc3fee63"
}